html {
  height: 100%;
}

body {
  height: 100%;
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #333;
}

.box {
  padding: 50px;
  background-color: white;
  border-radius: 5px;
  box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
}

.box h1 {
  text-transform: uppercase;
  letter-spacing: 0.3;
}
